SimpleWcfClient/Service References/SimpleWcfService/Math2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SimpleWcfService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SimpleWcfService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MathInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstNumber" type="xs:int" />
      <xs:element minOccurs="0" name="SecondNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MathInput" nillable="true" type="tns:MathInput" />
  <xs:complexType name="MathOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MathOutput" nillable="true" type="tns:MathOutput" />
</xs:schema>